$border: 5px solid black;
$nav-color: #263238;

.main-app, .top-nav, .sealed-nav {
  display: flex;
  justify-content: center;
}

.main-app, .sealed-nav {
  height: 100vh;
  width: 100vw;
}

.main-app {
  flex-direction: column;
}

.top-nav {
  height: 10vh;
  width: 100vw;
  align-items: center;
  background-color: $nav-color;
  border-bottom: $border;

  .title {
    flex-grow: 1;
    margin: 0 10px;
  }

  .account {
    margin-right: 60px;
  }
}

.sealed-nav {
  flex-grow: 1;

  .sealed-app, .side-nav, .draft-nav {
    display: flex;
    height: 100%;
  }

  .sealed-app {
    flex-direction: column;
    flex-grow: 1;

    .main-sealed, .graph-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: $border;
      border-right: $border;
    }

    .main-sealed {
      flex-grow: 1;
      background-color: #161213;
      border-bottom: $border;

      .pack-drop, .pack-glow {
        height: 600px;
        width: 649px;      
      }

      .pack-drop {
        background-image: url(../images/bg.jpg);
      }

      .pack-glow {
        background-image: url(../images/bg-glow.png);
      }

      .pack-slot {
        height: 212px;
        width: 155px;
      }
    }

    .graph-nav {
      height: 15vh;
      background-color: $nav-color;
    }
  }

  .side-nav, .draft-nav {
    background-color: $nav-color;
    align-items: center;
    justify-content: center;
  }

  .draft-nav {
    width: 15vw;
  }

  .pack-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px;
    overflow-y: auto;

    .pack, .adventure {
      flex-shrink: 0;
    }

    .pack {
      height: 212px;
      width: 155px;
    }

    .adventure {
      width: 142px;
    }

    .pack-name {
      margin-bottom: 10px;
    }

    .pack-counter {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 37px;
      width: 23px;
      position: relative;
      left: 110px;
      background-image: url(../images/pack-counter.png);
      user-select: none;
    }

    #basic {
      background-image: url(../images/basic-pack.png);
    }

    #classic {
      background-image: url(../images/classic-pack.png);
    }

    #naxx {
      height: 129px;
      background-image: url(../images/naxx-adventure.png);

      .pack-counter {
        top: 5px;
        left: 100px;
      }
    }

    #gvg {
      background-image: url(../images/gvg-pack.png);

      .pack-counter {
        top: 8px;
        left: 105px;
      }
    }

    #brm {
      height: 141px;
      background-image: url(../images/brm-adventure.png);

      .pack-counter {
        top: 7px;
        left: 100px;
      }
    }

    #tgt {
      background-image: url(../images/tgt-pack.png);

      .pack-counter {
        top: 10px;
        left: 112px;
      }
    }

    #loe {
      height: 143px;
      background-image: url('../images/loe-adventure.png');

      .pack-counter {
        top: 6px;
        left: 100px;
      }
    }

    #wotog {
      background-image: url(../images/wotog-pack.png);

      .pack-counter {
        top: 10px;
        left: 105px;
      }
    }

    #karazhan {
      height: 129px;
      background-image: url(../images/karazhan-adventure.png);

      .pack-counter {
        top: 6px;
        left: 100px;
      }
    }

    #msg {
      background-image: url(../images/msg-pack.png);

      .pack-counter {
        top: 8px;
        left: 105px;
      }
    }

    #jug {
      background-image: url(../images/jug-pack.png);

      .pack-counter {
        top: 8px;
      }
    }
  }
}