$border: 5px solid black;
$nav-color: #263238;

// html {
//   overflow: auto;
// }

// body {
//   overflow-y: scroll;
// }

.main-app, .top-nav, .sealed-app {
  display: flex;
  justify-content: center;
}

.main-app, .sealed-app {
  height: 100vh;
  width: 100vw;
}

.main-app {
  flex-direction: column;
}

.top-nav {
  height: 10vh;
  width: 100vw;
  align-items: center;
  background-color: $nav-color;
  border-bottom: $border;

  .title {
    flex-grow: 1;
    margin: 0 10px;
  }

  .account {
    margin-right: 60px;
  }
}

.sealed-app {
  flex-grow: 1;

  .sealed-main, .side-nav {
    display: flex;
    height: 100%;
  }

  .sealed-main {
    flex-direction: column;
    flex-grow: 1;

    .welcome-sealed, .main-sealed, .draft-settings, .graph-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: $border;
    }

    .welcome-sealed, .main-sealed, .draft-settings {
      flex-grow: 1;
      border-bottom: $border;
    }

    .welcome-sealed, .draft-settings {
      background-color: #263238;
      flex-direction: column;
    }

    .main-sealed {
      height: 100%;
      border-left: $border;
      background-color: #161213;

      .pack-drop, .pack-glow {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;     
      }

      .invisible {
        display: none;
      }

      .visible {
        display: flex;
      }

      .pack-drop {
        background-image: url(../images/bg.jpg);

        .card-holder {
          .cardContainer {
            height: 307px;
            width: 200px;
            display: inline-block;
            position: relative;
            perspective: 800px;
          }

          #card0 {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -350px;
            margin-left: -130px;
          }

          #card1 {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -279px;
            margin-left: -332px;
          }

          #card2 {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -272px;
            margin-left: 85px;
          }

          #card3 {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: 0px;
            margin-left: -246px;
          }

          #card4 {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: 8px;
            margin-left: -11px;
          }

          .cardGlow {
            position: absolute;
            top: 43px;
            left: 27px;
            height: 215px;
            width: 145px;
          }

          .card {
            border: none;
            transform-style: preserve-3d;
            transition: transform 1s;
          }

          .card img {
            margin: 0;
            display: block;
            position: absolute;
            backface-visibility: hidden;
          }

          .card .back {
            transform: rotateY( 180deg );
          }

          .card.flipped {
            transform: rotateY( 180deg );
          }

          .front:hover {
            transform: scale(1.1);
          }

          .done {
            background-image: url('../images/done.png');
            background-repeat: no-repeat;
            height: 104px;
            width: 175px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -60px;
            margin-left: -110px;
            z-index: 5;
            opacity: 0;
            display: none;
          }

          .visible {
            opacity: 1;
            transition: opacity 1.5s linear;
          }
        }
      }

      .pack-glow {
        background-image: url(../images/bg-glow.png);
      }

      .pack-slot {
        height: 212px;
        width: 155px;
      }

      .pack-list {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 8px;
        overflow-y: auto;
        overflow-x: hidden;
        width: 215px;

        .clone {
          position: absolute;
          height: 212px;
          width: 155px;
          display: none;
        }

        .pack, .pack-next, .adventure, .adventure-next {
          flex-shrink: 0;
        }

        .pack, .pack-next {
          height: 212px;
          width: 155px;
        }

        .adventure, .adventure-next {
          width: 142px;
        }

        .pack, .adventure {
          position:relative;
          z-index: 102;
        }

        .pack-next, .adventure-next {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 101;
        }

        .expansion-wrapper {
          position: relative;
          width: 155px;
          height: 271px;
          z-index: 103;

          .pack-wrapper {
            position: relative;
            top: 0;
            left: 0;
            z-index: 100;

            .pack-counter {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 37px;
              width: 23px;
              position: absolute;
              z-index: 102;
              top: 0;
              left: 110px;
              background-image: url(../images/pack-counter.png);
              user-select: none;
            }

            .pack-name {
              margin-bottom: 10px;
            }
          }
        }

        #basic {
          background-image: url(../images/basic-pack.png);
        }

        #classic {
          background-image: url(../images/classic-pack.png);
        }

        #naxx {
          height: 129px;
          background-image: url(../images/naxx-adventure.png);

          .pack-counter {
            top: 5px;
            left: 100px;
          }
        }

        #gvg {
          background-image: url(../images/gvg-pack.png);

          .pack-counter {
            top: 8px;
            left: 105px;
          }
        }

        #brm {
          height: 141px;
          background-image: url(../images/brm-adventure.png);

          .pack-counter {
            top: 7px;
            left: 100px;
          }
        }

        #tgt {
          background-image: url(../images/tgt-pack.png);

          .pack-counter {
            top: 10px;
            left: 112px;
          }
        }

        #loe {
          height: 143px;
          background-image: url('../images/loe-adventure.png');

          .pack-counter {
            top: 6px;
            left: 100px;
          }
        }

        #wotog {
          background-image: url(../images/wotog-pack.png);

          .pack-counter {
            top: 10px;
            left: 105px;
          }
        }

        #karazhan {
          height: 129px;
          background-image: url(../images/karazhan-adventure.png);

          .pack-counter {
            top: 6px;
            left: 100px;
          }
        }

        #msg {
          background-image: url(../images/msg-pack.png);

          .pack-counter {
            top: 8px;
            left: 105px;
          }
        }

        #jug {
          background-image: url(../images/jug-pack.png);

          .pack-counter {
            top: 8px;
          }
        }

        #kft {
          background-image: url(../images/kft-pack.png);

          .pack-counter {
            top: 8px;
          }
        }
      }
    }

    .graph-nav {
      height: 15vh;
      background-color: $nav-color;
    }
  }

  .side-nav, .draft-nav {
    background-color: $nav-color;
    align-items: center;
    justify-content: center;
  }

  .draft-nav {
    width: 15vw;

    .new-draft-button, .draft-tabs {
      display: flex;
      justify-content: center;
    }

    .draft-list {
      height: 84vh;
      overflow: auto;
    }

    .tab-link {
      display: inline-block;
      margin: 0 5px;
    }

    .draft-options {
      display: none;
      margin-left: 20px;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d;
}